/* ========================== CODIGO GENERAL=================================== */

/* aplica borde para identificar las cajas */
/* * {
    border: solid 1px black;
} */
/* color de fondo */
body {
    background-color: #FFE1E1;
    background-image: url(../img/Póster\ Imprimible\ Acuarela\ Rosa.jpg);
}
/* titulos de las secciones */
.tituloSeccion {
    font-family: 'Dancing Script', cursive;
    font-size: 250%;
    font-weight: 600;
    color: #9A1663;
}
.texto {
    font-family: 'Dancing Script', cursive;
    font-size: 200%;
    font-weight: 300;
}
/*botones de bootstrap: primary-danger-info*/
.btn-primary {
    background: #AF7AB3;
    font-size: 13px;
}

.btn-info {
    background: #AF7AB3;
    font-size: 13px;
    color: white;
}

.btn-danger {
    background: #AF7AB3;
    font-size: 13px;
}

/*botones hover*/
.btn-primary:hover {

    transition: transform 0.5s ease-in-out;
    transform: scale(1.16);
}
.btn-info:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.16);
}

.btn-danger:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.16);
}

/* ========================== PAGINA INDEX=================================== */

/* ============ seccion navbar ============ */

/* color del navbar */
.bg-pink{
    background: rgb(161,18,249);
    background: linear-gradient(164deg, rgba(161,18,249,0.8799894957983193) 30%, rgba(253,29,248,0.8295693277310925) 52%, rgba(252,69,140,1) 97%);
}
/* iconos de redes sociales en la navbar */
.list-group-item a{
    color: #F5E8C7;
}
.list-group-item {
    color:#F5E8C7;
    background-color:transparent;
}
/*reaccion de linkedin, cursor*/
i.fa-brands.fa-linkedin.fa-2xl:hover {
    color: rgb(148, 148, 236);
    transition: transform 0.3s ease-in-out;
    transform: scale(1.25);
}
/*reaccion de github, cursor*/
i.fa-brands.fa-github.fa-2xl:hover {
    color: rgb(1, 1, 14);
    transition: transform 0.3s ease-in-out;
    transform: scale(1.25);
}
/*reaccion de codepen, cursor*/
i.fab.fa-codepen.fa-2xl:hover {
    color: rgb(1, 1, 14);
    transition: transform 0.3s ease-in-out;
    transform: scale(1.25);
}
/*reaccion de usuario con candado, cursor*/
i.fa-solid.fa-user-lock.fa-2xl:hover {
    color: #7F5283;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.25); 
}

/*reaccion de usuario abierto, cursor*/
i.fa-solid.fa-user.fa-2xl:hover {
    color: #7F5283;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.25);
}
/*reaccion de agrandar los iconos*/
a.list-group-item.list-group-item-action:hover{
    background: transparent;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.25);
}
/*reaccion de los iconos, fondo*/
.list-group-item:hover {
    background-color: #FFF5EB;
}

/*========== seccion banner/presentaciones==========*/

/*titulo h1 del banner*/
.title-banner {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 500%;
    color: #FFF5E4;
    margin-top: -20%;
}
/*imagen del banner*/
.img-banner {
    height: 34rem;
    width: 100%;
    border-radius: 3%;
    opacity: 0.9;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.2));
    box-shadow: 4px 8px 15px 0 rgb(53, 51, 51);
    object-fit: cover;
}
/*============= seccion perfil ==============*/

/* imagen de perfil */
section.perfil {
    position: relative;
    z-index: 10 ;
    margin-top: -8%;
    margin-left: 6rem;
}
/*titulo nombre perfil*/
h5.title-abaut {
    margin-top: 8.5rem;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    color: #6C4AB6;
    margin-right: 8rem;
    width: 100%;
}

/*============= seccion experiencia laboral=========*/

/*logos empresas de trabajo*/
.logo-exp {
    width: 50%;
    height:75%;
    filter: drop-shadow(0 0 0.75rem rgb(24, 23, 23));
    margin-right: 8rem;
}
/*================ seccion educacion ================*/



/*================ seccion habilidades ===============*/

/*barra de progreso*/
.progress-bar {
    background-color: #937DC2;
}
.progress {
    background-color: #C689C6;
}

/*================ seccion proyectos ===============*/
/*tarjetas*/
.card {
    --bs-card-bg: #FFE1E1;
}
h5.card-title {
    color: #5C2E7E;
}
p.card-text {
    color: #6F38C5;
}
div.card.tarjeta:hover {
    box-shadow: 5px 50px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
    align-items: center;
}
img.card-img-top {
    width: 100%;
    height: 190.31px;
    background: rgb(10, 10, 10);
}
div.card-body.proyecto {
    width: 100%;
    height: 190.31px;
}
/*==========SECCION FOOTER==========*/

/*Footer*/

footer {
    background-color: black;
    color: #967E76;
    text-align: center;
    height: 4.8rem;
    width: 100%;
}

/*copyright*/
footer p {
    font-size: 13px;
}
/*iconos de footer*/
.list-group-item.footer {
    background: none;   
}
footer div.container.text-center {
    justify-content: center;
    display: flex;
}



/*==========SECCION EXTRA==========*/
.extra {
    margin-top: 7rem;
}

/* ========================== PAGINA ADMINISTRACION =================================== */
/* barra vertical de codepen */
*, :before, :after {
    box-sizing: border-box;
}
.unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}
.unstyled a {
    text-decoration: none;
}



.main-nav ul {
    border-top: solid 0.5px #EA047E;
}

.main-nav li {
    border-bottom: solid 0.5px #EA047E;
}

.main-nav a {
    padding: 1em 0;
    color: #dfdbd9;
    font: 400 1.125em 'Source Sans Pro', Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: lowercase;
}

.main-nav a:hover {
    color: #fff;
}


.list-hover-slide li {
    position: relative;
    overflow: hidden;
}

.list-hover-slide a {
    display: block;
    position: relative;
    z-index: 1;
    transition: 0.35s ease color;
}

.list-hover-slide a:before {
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    border-right: solid 10px #EA047E;
    background: #852999;
    transition: 0.7s ease left;
}

.list-hover-slide a.is-current:before, .list-hover-slide a:hover:before {
    left: 0;
}
/* fin codigo extraido de codepen */

/*======================= MEDIAS QUERIES ============================== */
@media (max-width: 768px) {
    /*titulo h1 del banner*/
        .title-banner {
            font-size: 250%;
        } 
    /*imagen del banner*/
        .img-banner {
            height: 13rem;
            margin-top: -5%;
        }
    /* imagen de perfil */
        section.perfil {
            width: 85%;
        }
    /*titulo nombre perfil*/
        h5.title-abaut {
            font-size: 350%;
            margin-top: 10%;
            margin-left: -5%;
        }
    /*logos empresas de trabajo*/
        .logo-exp {
            width: 85%;
            height:25%;
        }
    /*certificados de estudios*/
    .card {
        width: 10rem;
    }        
}

@media (max-width: 560px) {
/*titulo h1 del banner*/
    .title-banner {
        font-size: 150%;
        color: #FFF5E4;
        flex-direction: row;
        justify-content: space-between;
    } 
/*imagen del banner*/
    .img-banner {
        height: 10rem;
        margin-top: -5%;
    }
/* imagen de perfil */
    section.perfil {
        width: 25%;
    }
/*titulo nombre perfil*/
    h5.title-abaut {
        font-size: 250%;
        display: inline-block;
        width: 400%;
        justify-content: center;
        margin-top: -5%;
        margin-left: -65%;
    }
/*logos empresas de trabajo*/
    .logo-exp {
        width: 85%;
        height:25%;
    }
/*certificados de estudios*/
.card {
    position: relative;
    left: 20%;   
}    
}

